<app-page>
    <div class="form-header">
        <app-title text="Cadastra-se"></app-title>
    </div>

    <app-form [formGroup]="form" [gap]="'0.5rem'" (ngSubmit)="onSubmit()" class="register-form">
        <app-form-line label="Nome">
            <custom-input formControlName="name" placeholder="Digite seu nome" ></custom-input>
        </app-form-line>
        <app-form-line label="E-mail">
            <custom-input formControlName="email" placeholder="Digite seu e-mail" ></custom-input>
        </app-form-line>
        <app-form-line label="Senha">
            <custom-input formControlName="password" type="password" placeholder="Digite sua senha" ></custom-input>
        </app-form-line>

        <app-button type="submit" label="Cadastrar"></app-button>
        <div class="link-wrapper">
            <app-text-link complement="ou" linkText="Acesse sua conta" route="/login" align="center"></app-text-link>
        </div>
    </app-form>
</app-page>
