.todo-container {padding: 40px 20px 20px; display: flex; flex-direction: column; align-items: center;}
.logout {position: fixed; top: 20px; right: 20px;}
.todo-header {text-align: center; margin-bottom: 40px; color: #f9f9f9;}
.todo-form { width: 100%; display: flex; justify-content: center;}
.todo-form app-input-todo { width: 100%; max-width: 750px; margin-bottom: 40px;}
.todo-list-container {width: 100%; max-width: 750px;}