:host {width: 100%;}

.custom-input-wrapper {width: 100%;}
.custom-input {width: 100%; box-sizing: border-box; padding: 12px 18px; border: none; border-radius: 6px; font-size: 16px; background: #fff; outline: none;;
}
